@font-face {
    font-family: Kruk; /* Имя шрифта */
    src: url(../../res/fonts/Kalashnikov.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: NewDamaskin; /* Имя шрифта */
    src: url(../../res/fonts/NewDamaskin.ttf); /* Путь к файлу со шрифтом */
   }

.areaOfSymbols {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.syllable {
    margin-bottom: 50px;
    position: relative;
}

.syllable:hover .remove {
    display: block;
}

.text {
    font-size: 30pt;
    font-family: NewDamaskin;
}

.symbol {
    font-size: 60pt;
    font-family: "Kruk";
}

.red {
    color: red;
}

.remove {
    color: red;
    background-color: #fffc;
    position: absolute;
    right:0;
    top:0;
    display: none;
}
