@font-face {
    font-family: Kruk; /* Имя шрифта */
    src: url(../../res/fonts/Kruk.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Text; /* Имя шрифта */
    src: url(../../res/fonts/GrebnevUCS.ttf); /* Путь к файлу со шрифтом */
   }

.areaOfSymbols {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.syllable {
    margin-bottom: 50px;
}

.text {
    font-size: 30pt;
    font-family: "Text";
}

.symbol {
    font-size: 60pt;
    font-family: "Kruk";
}

.red {
    color: red;
}