.control {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    position: sticky;
    max-height: 530px;
    bottom: 0;
}

.helper {
    width: 3000px;
}

.errorNoParagraph {
    margin-left: 40px;
    margin-top: 10px;
    width: 337px;
    text-align: left
}

.hr {
    margin-top: 100px;
}

.download-file {
    position: absolute;
    bottom: 20px;

}

.removeLast {
    display: inline-grid;
    grid-template-columns: 94px 241px;
    justify-items: start;
    margin-left: 40px;
}

.control-block {
    border-right: solid 1px silver;
    padding-right: 30px;
    padding-left: 30px;
    height: 350px;
}

.control-block-last{
    border-right: none;
}