@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aa1jf5');
  src:  url('fonts/icomoon.eot?aa1jf5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aa1jf5') format('truetype'),
    url('fonts/icomoon.woff?aa1jf5') format('woff'),
    url('fonts/icomoon.svg?aa1jf5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size:10pt;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-text:before {
  content: "\ea6d";
}
