@font-face {
    font-family: GrebnevUCS;
    src: url(../../res/fonts/GrebnevUCS.ttf)
}

.text-line {
    text-align: left;
    font-size: 24pt;
    font-family: GrebnevUCS;
    color:red;
    width: 100%;
    position: relative;
    line-height: 52pt;
}

.text-line:hover .text-remove-button {
    display: inline-block;
}

.text-remove-button {
    cursor: pointer;
    background-color: #fffc;
    display: none;
    color: #fff;
    background-color: #dc354599;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}